.section {
  padding: 100px 0;
}

.contacts {
  background: #fff;
  height: 100vh;
}

.inputFeald {
  padding: 25px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 10px 15px rgba(6, 82, 221, 0.1);
  background: white;
  border: none;
  border-radius: 30px;
  margin-bottom: 25px;
}

.btn {
  z-index: 1;
  transition: all 0.5s ease;

  button {
    text-decoration: none;
    z-index: 1;
    padding: 0px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 1px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #0652DD;

    &:hover {
      background: #000;
      color: #000;
      text-decoration: none;
    }

    .text {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      padding: 0 20px 0 30px;
      text-transform: uppercase;
      color: white;
      transition: all 0.5s ease;
    }

    .icon {
      padding: 5px;
      border-radius: 50%;
      transition: all 0.5s ease;
      border: 2px solid #fff;

      svg {
        width: 40px;
        height: 40px;
        padding: inherit;
        font-size: 16px;
        border-radius: 50%;
        line-height: 46px;
        text-align: center;
        display: inline-block;
        background: #fff;
        color: #0652DD;
        transition: all 0.5s ease;
      }
    }
  }

}

.btn:hover .text {
  color: #fff;
}

.btn:hover .icon {
  border-color: #fff;
}

.btn:hover .icon svg {
  color: white;
  background: #000;
}

