$color_success: #090;

$MainFont: 'Poppins', sans-serif;
$BtnColorLight: #fff;
$TitleColorLight: #fff;
$TitleColorBlack: #201A23;
$BackgroundMain: #5d42d3;
$BackgroundLight: #fff;
$BackgroundDark: #201A23;
$Text: #6D7077;
$BorderColor: #fff;