.skillItem {
    position: relative;
    text-align: center;
    background-color: white;
    margin-bottom: 80px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 30px 30px 50px 30px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 69, 0, 0.15);
    box-shadow: 0 15px 30px 0 rgba(255, 69, 0, 0.15);
}
.body {
    position: relative;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}
.body h4 {
    font-size: 50px;
    margin: 0px;
}
.body h5 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.body span {
    margin-bottom: 30px;
}
.icon {
    height: 60px;
    width: 60px;
    background-color: #61dafb;
}
.iconNext {
    left: 50%;
    bottom: -30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background: #ff4500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.iconNext span {
    width: 60px;
    height: 60px;
    font-size: 20px;
    position: relative;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background: #ff4500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.iconBorder {
    left: 50%;
    bottom: 0;
    position: absolute;
    margin-left: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -3;
}
.skillItem .iconBorder::before {
    top: 0;
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid #ff4500;
    box-sizing: border-box;
    right: -20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.skillItem .iconBorder::after {
    top: 0;
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid #ff4500;
    right: -10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
}