.skillItem {
    position: relative;
    text-align: center;
    background-color: white;
    margin-bottom: 80px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 30px 30px 50px 30px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 69, 0, 0.15);
    box-shadow: rgba(6, 82, 221, 0.15) 0px 15px 30px 0px;
    cursor: pointer;
    &:hover {
        background-color: #171718;
        .skillBg{
            opacity: 0.15;
            visibility: visible;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .body {
            background-color: transparent;
            color: white;
            h4{
                color: white;
            }
            span{
                color: #fff;
            }
        }
        .iconNext{
            background-color: #000;
            span{
                background-color: #000;
            }
        }
        .iconBorder:before, .iconBorder:after{
            border-color: #000;
        }

    }
    .skillBg {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        border-radius: 50px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    .body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        h4 {
            font-size: 50px;
            color: #0652DD;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
        }
        h5{
            font-family: "Poppins", sans-serif;
            margin: 0 0 10px 0;
            font-size: 1.467rem;
            font-weight: bold;
        }
        .description{
            margin-bottom: 30px;
            color: #6D7077;
            font-weight: 400;
        }
    }
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #61dafb;
}
.iconNext {
    left: 50%;
    bottom: -30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background: rgb(6, 82, 221);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.iconNext span {
    width: 60px;
    height: 60px;
    font-size: 20px;
    position: relative;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background: rgb(6, 82, 221);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.iconBorder {
    left: 50%;
    bottom: 0;
    position: absolute;
    margin-left: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -3;
}
.skillItem .iconBorder::before {
    top: 0;
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid rgb(6, 82, 221);
    box-sizing: border-box;
    right: -20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.skillItem .iconBorder::after {
    top: 0;
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid rgb(6, 82, 221);
    right: -10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
}