.skillBlock {
    height: 100vh;
    padding-top: 70px;
    @media screen and (max-width: 990px) {
       height: 100%;
}
}
.skillContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.skillBlock h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.42;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 40px;
}

