.mainBlock{
    height: 100vh;
    background-color: #171718;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
}
.title {
    font-size: 60px;
    font-weight: 800;
}
.subTitle {
    font-size: 18px;
    font-weight: 600;
}
.text {
    width: 300px;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: white;
}