.projectItem {
    height: 100%;

}
.projectImg {
    width: 100%;
}
.projectDesc {
    background-color: white;
    padding: 20px;
}
.projectDesc h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.btnProject {
    padding: 10px 20px;
    background-color: white;
    position: relative;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: black;
    position: relative;
}
.image::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
}