.nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.menu li a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 28px 20px;
    text-transform: uppercase;
    display: block;
    position: relative;
    line-height: 28px;
}