.section {
  padding: 100px 0;
}
.projectsBlock {
    background-color: rgba(6, 82, 221, 0.05);
}
.title h2{
 text-align: center;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.42;
}
@media screen and(max-width: 992px){
  .projectsBlock{
    height: 100%;
  }
}
@media screen and (max-width: 576px){
  .section{
    padding: 70px 30px;
  }
}